body {
    padding: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: gray;
}

h1 {
    background-color: pink;
    text-align: center;
}

.recipe-list {
    background-color: antiquewhite;
}