/* 
 * Setting up some pre-requisites 
 * Stolen from "A Modern CSS Reset" by Josh Comeau
 */
*,
*::before,
*::after {
   box-sizing: border-box;
}

* {
   margin: 0;
}

body {
   line-height: 1.5;
   -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
   display: block;
   max-width: 100%;
}

input,
button,
textarea,
select {
   font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
   overflow-wrap: break-word;
}

p {
   text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   text-wrap: balance;
}

/* Actual CSS code made by me */
body {
   height: 100vh;
   display: flex;
}

.logo-sidebar {
   background-image: url('images/sunflower.jpg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   min-width: 40%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.logo-sidebar img {
   margin-top: 20%;
   background-color: rgba(0, 0, 0, 0.5);
   padding: 40px 20px;
}

.logo-sidebar a,
.logo-sidebar p {
   text-align: center;
   margin-bottom: 20px;
   color: white;
}

.form-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 40px;
}

.form-description>p {
   font-size: 1.25rem;
   font-weight: bold;
   margin-bottom: 15px;
}

.account-form button {
   margin: 30px 0;
   padding: 0.5rem 2rem;
}

.account-details {
   padding: 40px 40px 40px;
   margin: 40px -40px 0;
   box-shadow:
      0 -1px 4px rgba(0, 0, 0, 0.1),
      0 4px 6px rgba(0, 0, 0, 0.2);
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.account-details-row {
   display: flex;
   gap: 5rem;
}

.account-input {
   display: flex;
   flex-direction: column;
}

.account-input>label {
   font-size: 0.75rem;
}

.account-input>input {
   border: 1px solid #e6e6e6;
   border-radius: 3px;
}

.account-input>input:focus {
   outline: 2px solid #6c8be2;
   box-shadow:
      rgba(0, 0, 0, 0.16) 0px 3px 6px,
      rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.account-input>input:invalid {
   outline: 2px solid #cf6262;
   /* box-shadow:
      rgba(0, 0, 0, 0.16) 0px 3px 6px,
      rgba(0, 0, 0, 0.23) 0px 3px 6px; */
}

.account-form>button {
   background-color: #ffc512;
   color: #4a2f14;
   font-weight: bold;
   border: none;
   border-radius: 5px;
   box-shadow:
      rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
      rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

button:hover {
   cursor: pointer;
}

.account-form a {
   text-decoration: none;
   font-weight: bold;
   color: #d89a0d;
}

/*
#FCC937
#F7E965
#F4CD28
#FFE25B

*/
